.main-page
{
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    padding-top: 2em;
    min-height: 100vh;

    gap: var(--default-gap);

    background-color: var(--secondary-background-color);
}

@media (min-width: 900px)
{
    .main-page
    {
        margin-left: 5%;
        margin-right: 5%;
    } 
}

